#heo-footer
  a.heo-footer.footer-group1(a='', href='https://statically.io', onclick="window.open('https://myssl.com/seal/detail?domain=0412.cyou','MySSL安全签章','height=800,width=470,top=0,right=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no')")
    img(src='https://cdn.staticaly.com/gh/mrxie68/cdnimg@master/xxx.16hghah6jeio.png')
  a.heo-footer.footer-group1(href='https://statically.io', target='_blank', rel='external nofollow noopener noreferrer')
    img(src='https://cdn.staticaly.com/gh/mrxie68/cdnimg@master/xxx.4d6ua6rodo40.png')
  a.heo-footer.footer-group1(href='https://github.com/', target='_blank', rel='external nofollow noopener noreferrer')
    img(src='https://fastly.jsdelivr.net/gh/mrxie68/cdnimg@master/img/iconfinder-icon.6izjtsxsrm80.svg')
  a.heo-footer.footer-group1(href='https://stats.uptimerobot.com/XqP0WcnWvW', target='_blank', rel='external nofollow noopener noreferrer')
    img(src='https://fastly.jsdelivr.net/gh/mrxie68/cdnimg@master/img/监控.34y34mqmta60.svg')
    a.heo-footer.footer-group1(href='https://hexo.io/', target='_blank', rel='external nofollow noopener noreferrer')
      img(src='https://fastly.jsdelivr.net/gh/mrxie68/cdnimg@master/img/xxx.5r0ybfbovww0.svg')
      a.heo-footer.footer-group1(href='https://vercel.com/', target='_blank', rel='external nofollow noopener noreferrer')
        img(src='https://fastly.jsdelivr.net/gh/mrxie68/cdnimg@master/img/xxx.6qvbny7eiys0.svg')
      a.heo-footer.footer-group1(href='https://liwenliang26.github.io/', target='_blank', rel='external nofollow noopener noreferrer')
        img(src='https://fastly.jsdelivr.net/gh/mrxie68/cdnimg@master/img/万圣节墓碑.4on7hf95lfk0.svg')
      a.heo-footer.footer-group1(href='https://github.com/volantis-x/hexo-theme-volantis', target='_blank', rel='external nofollow noopener noreferrer')
        img(src='https://fastly.jsdelivr.net/gh/mrxie68/cdnimg@master/img/线性水彩笔.617qc91i8rk0.svg')
      a.heo-footer.footer-group1(href='https://t.me/mrxie6', target='_blank', rel='external nofollow noopener noreferrer')
        img(src='https://fastly.jsdelivr.net/gh/mrxie68/cdnimg@master/20220617/xxx.5yayshcimxg0.svg')
#footerwz
  p Copyright &copy; 2020-2023 Mr. Xie&rsquo;s life
p